/* Estilo general del aside */
.aside {
  width: 16rem; /* 64px */
  padding: 1rem;
  position: relative;
}
  
/* Animación de entrada (mostrar) */
@keyframes slideInLayers {
  0% {
    transform: translateX(100%);
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animación de salida (ocultar) */
@keyframes slideOutLayers {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

/* Aplicación de las animaciones */
.slide-in-layers {
  animation: slideInLayers 0.3s ease forwards;
  -webkit-animation: slideInLayers 0.3s ease forwards;
}

.slide-out-layers {
  animation: slideOutLayers 0.3s ease forwards;
  -webkit-animation: slideOutLayers 0.3s ease forwards;
}

@media (max-width: 768px) {
    .aside {
      display: none; /* Ocultar el aside en dispositivos móviles */
    }
}